# CI/CD and documentation files
.github/
docs/

# Logs and temporary files
*.log
*.tmp

# Environment variables
.env
.env.local
*.env.*

# Editor/IDE files
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
target/
*.pyc
__pycache__/
*.class
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.out

# Dependencies
node_modules/
venv/
.venv/
.mypy_cache/
.pytest_cache/
.gradle/
julia-*/
zig*/